*,
::before,
::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  box-sizing: border-box;
  height: 100%;
  line-height: 1;
}

/* //////////////////////////// */

[class*='--container'] {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0px 15px;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.page {
  flex: 1 1 auto;
}
.footer {
}

/* header */
.top-main {
  background: #f1f1f1;
  min-height: 847px;
}

.header {
}
.header--container {
  min-height: 123px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 26px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header-top {
  display: flex;
  align-items: center;
}
.search {
  flex-basis: 30%;
}
.search-img {
}
.logo {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex: 1 1 auto;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
}
.logo-img {
}
.menu {
  flex-basis: 30%;
}
.menu-list {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
}
.menu-item {
}
.menu-link {
  display: inline-block;
  padding-top: 5px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}
.menu-icon {
  margin-right: 8px;
}
.user-icon {
}
.bag-icon {
}
.header-category {
}
.menu-category-list {
  display: flex;
  justify-content: space-between;
}
.menu-category-item {
}
.menu-category-link {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}

/* header end*/
/* Top-main*/
.product--container {
  display: flex;
  gap: 102px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
.product-text-big {
  font-weight: 300;
  font-size: 74px;
  line-height: 55px;
  margin-top: 155px;
  margin-bottom: 52px;
}
.product-text {
  font-weight: 400;
  font-size: 30px;
  line-height: 55px;
  text-transform: capitalize;
  margin-bottom: 66px;
}
.product-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 223px;
  height: 72px;
  background: #1e2832;
  font-weight: 400;
  font-size: 29px;
  line-height: 55px;
  text-transform: capitalize;
  color: #ffffff;
}
.bag-icon-btn {
}
.product-img {
  position: relative;
  width: 424px;
  height: 542px;
  margin-top: 81px;
}

.item1 {
  position: absolute;
  background-image: url('./img/unsplash.svg');
  width: 424px;
  height: 542px;
  border-radius: 160px 0px;
  z-index: 2;
}
.item2 {
  position: absolute;
  width: 424px;
  height: 542px;
  border: 2px solid #afafaf;
  border-radius: 160px 0px;
  top: 20px;
  right: -20px;
  z-index: 1;
}

/* Top-main end*/

/* Brand */

.brand--container {
  display: flex;
  justify-content: space-between;
  margin: 90px auto;
}
.brand-img {
}

/* Brand end*/

/* hot-category */

.external-text {
  position: relative;
  left: -688px;
  top: 345px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  transform: rotate(-90deg);
}
.hot-category-grid--container {
  display: grid;
  grid-template-columns: 648px repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  height: 648px;
  margin-bottom: 140px;
}
.item-category1 {
  background-image: url('./img/image-category-1.svg');
  grid-area: 1 / 1 / 3 / 2;
}
.item-category2 {
  background-image: url('./img/image-category-2.svg');
  grid-area: 1 / 2 / 2 / 3;
}
.item-category3 {
  background-image: url('./img/image-category-3.svg');
  grid-area: 1 / 3 / 2 / 4;
}
.item-category4 {
  background-image: url('./img/image-category-4.svg');
  grid-area: 2 / 3 / 3 / 4;
}
.item-category5 {
  background-image: url('./img/image-category-5.svg');
  grid-area: 2 / 2 / 3 / 3;
}
.item-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}
.item-hover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  background: #1e2832;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-transform: capitalize;
  color: #ffffff;
  transform: translateY(100%);
  transition: transform 500ms ease;
}
.card-left-el {
  margin-left: 11px;
}
.card-right-el {
  margin-right: 10px;
}
.item-card:hover .item-hover {
  transform: translateY(0%);
}

/* hot-category end */

/* grid-product */

.grid-product--container {
  margin-bottom: 140px;
}
.title-grid-products {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 53px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  margin-bottom: 40px;

  color: #000000;
}
.top-grid-products {
  display: flex;
  justify-content: space-between;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  margin-bottom: 30px;
}
.top-grid-product-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
}
.top-grid-el {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #777777;
  text-transform: capitalize;
}
.selected-el {
  color: #000;
}
.top-grid-filter {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-transform: capitalize;
  color: #fff;
  background: #1e2832;
  width: 88px;
  height: 32px;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
.grid-products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 477px);
  grid-column-gap: 24px;
  grid-row-gap: 34px;
}
.p1 {
  background-image: url(./img/p1.svg);
  height: 400px;
}
.p2 {
  background-image: url(./img/p2.svg);
  height: 400px;
}
.p3 {
  background-image: url(./img/p3.svg);
  height: 400px;
}
.p4 {
  background-image: url(./img/p4.svg);
  height: 400px;
}
.p5 {
  background-image: url(./img/p5.svg);
  height: 400px;
}
.p6 {
  background-image: url(./img/p6.svg);
  height: 400px;
}
.p7 {
  background-image: url(./img/p7.svg);
  height: 400px;
}
.p8 {
  background-image: url(./img/p8.svg);
  height: 400px;
}
.grid-product-img .item-hover {
  justify-content: flex-start;
}
.favorite {
  margin-right: 10px;
  margin-left: 7px;
}
.grid-product-el {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}

.grid-product-shop {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
  margin-right: 16px;
  align-items: center;
  gap: 8px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: capitalize;
}
.title-product {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-transform: capitalize;
  max-width: 292px;
  margin: 18px auto 15px auto;
}
.bottom-product {
  display: flex;
  justify-content: space-between;
  max-width: 292px;
  margin: 0 auto;
}
.product-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-transform: capitalize;
  color: #777777;
}
.product-price {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: right;
  text-transform: capitalize;
  color: #000;
}
.sale::after {
  text-decoration-line: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: right;
  text-transform: capitalize;
  color: #ff6f61;
}
.sale.s1::after {
  content: ' $155.00';
}
.sale.s2::after {
  content: ' $198.00';
}
.product-price.sale {
  /* text-decoration-line: line-through; */
  color: #777777;
}
.grid-product-el.sale::after {
  position: relative;
  content: 'sale';
  top: -440px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
  background: #1e2832;
  padding: 4px 12px;
}
.grid-product-el.hot::after {
  position: relative;
  content: 'hot';
  top: -440px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #ff6f61;
  padding: 4px 12px;
}

/* grid-product end (WIP) */

/* brand-banner */
.brand-banner {
  background-image: url(./img/brand-banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #010204;
  height: 776px;
  margin-bottom: 140px;
}
.brand-banner {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
.zara-logo {
  margin-bottom: 38px;
  margin-top: 51px;
}
.zara-logo-big {
  display: inline;
}
.zara-logo-small {
  display: inline;
  position: relative;
  left: 35px;
  top: 210px;
}
.brand-info-text {
  font-weight: 400;
  font-size: 26px;
  line-height: 40px;
  text-transform: capitalize;
  color: #ffffff;
  max-width: 504px;
  margin-right: 333px;
  margin-bottom: 66px;
}
.see-collection-link {
  margin-right: 592px;
  padding-top: 7px;
  width: 245px;
  height: 72px;
  background: #ffffff;
  font-weight: 400;
  font-size: 29px;
  line-height: 55px;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
}

/* brand-banner end */
